/* Estilos globales del sistema */

// importa estilos para el notificador
@import "~angular-notifier/styles";

html { width: 100%; height:100%; overflow:hidden; }

// Establece configuración inicial al cuerpor del sistema
body {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 13px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%),
    -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%),
    -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%),
    -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%),
    -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%),
    linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

// angular-notifier:
// Establece el tamaño de la fuente
.notifier__notification--material .notifier__notification-message {
  font-size: 13px;
}
// Establece los colores personalizados del notificador
.notifier__notification--error {
  background-color: rgb(170, 36, 31);
}
.notifier__notification--default {
  background-color: rgba(14, 14, 14, 0.788);
}
.notifier__notification--info {
  background-color: rgb(97, 209, 243);
}
.notifier__notification--success {
  background-color: rgb(39, 182, 39);
}
.notifier__notification--warning {
  background-color: rgb(223, 189, 77);
}

// Spinner:
// Estilos para el Spinner (loading)

// Colors variables
$primary: #4285f4; // blue
$success: #309c59; // green
$danger: #ea4335; // red
$warning: #d8e93c; // yellow

// Container and shapes dimentions
$containerDimentions: 85px;
$shapeDimentions: 35px;
//shape translate amount
$amount: 5px;
* {
  box-sizing: border-box;
}

.container-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $containerDimentions;
  height: $containerDimentions;
  border-radius: $containerDimentions/2;
  animation: rotation 2s infinite;
  .shape {
    position: absolute;
    width: $shapeDimentions;
    height: $shapeDimentions;
    border-radius: $shapeDimentions/2;
    &.shape-1 {
      left: 0;
      background-color: $primary;
    }
    &.shape-2 {
      right: 0;
      background-color: $success;
      animation-delay: 0.2s;
    }
    &.shape-3 {
      bottom: 0;
      background-color: $danger;
      animation-delay: 0.2s;
    }
    &.shape-4 {
      bottom: 0;
      right: 0;
      background-color: $warning;
    }
  }
  @for $i from 1 through 4 {
    .shape-#{$i} {
      animation: shape#{$i} 0.2s infinite alternate;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin shapeTranslate($index, $tx, $ty) {
  @keyframes shape#{$index} {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate($tx, $ty);
    }
  }
}

@include shapeTranslate(1, $amount, $amount);
@include shapeTranslate(2, -$amount, $amount);
@include shapeTranslate(3, $amount, -$amount);
@include shapeTranslate(4, -$amount, -$amount);
