.list-title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #4d4848;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.dialog-title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: rgb(100, 100, 100);
  font-weight: bolder;
  font-size: 18px;
  padding-bottom: 15px;
}
