.error404-number {
  color: #fff;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0 10px;
}

.error404-header {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 70px 0 0px;
}

.error404-button button {
  width: 100%;
  display: block;
}
